.form-input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em; 

    .permission-group {
        display: flex;
        flex-direction: column;
        
        h5 {
            font-size: 12px;
            margin-bottom: 10px;
        }

        .form-check {
            display: flex;
            align-items: center;
            margin-bottom: 0;

            .form-check-input {
                margin-top: 0 !important;
            }

            .form-check-label {
                margin-bottom: 0;
                font-size: 14px;
            }
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
